body {
  position: absolute;
    background-color: #ffffff;
    width: 100%;
    overflow: hidden;
  }
  
html {
  width: 100%;
}

/* 
comment
*/


.section1 {
  height: 250px;
  width: 100%;

  background-color: rgb(192, 223, 230);
 
}

h1 {
  color: navy;
  margin-left: 20px;
}

p {
  font-family: Arial;
  font-size: 20px;
  margin-left: 20px;
}


.section2 {
position: relative;
  top:0px;
  height: 250px;
  width: 100%;

  background-color: rgb(192, 223, 230);
}


.turtle {
  position: relative;
  top:-30%;
left: 50%;


  transform: rotate(2deg);


}

