
header {
  position: absolute;
  font-family: 'Rubik', sans-serif;
  top: 52%;
  left: 26%;
  color: rgb(139, 139, 139);
}

svg:hover path {
  
    animation: blob 3s ease-in-out infinite;
  }
  
  svg:hover {
    animation-direction: alternate;
  }
  svg:active path {
    fill: rgb(0, 8, 255);
    stroke: black;
    stroke-width: 2;
  }
  
  svg path {
    transition: d 4s, fill 0.6s; animation-iteration-count: 3;
    animation: blob 13s ease-in-out infinite;
  }
  
  svg:active {
    background: #eee;
    padding: 5px;
    border-radius: 10px;
    transform: scale(0.85);
    box-shadow: 0 0 2px rgba(black, 0.5);
  }
  
  
  svg {
    position: absolute;
    top: 30%;
    left: 18%;
    mix-blend-mode: multiply;
    margin: 30px auto;
    width: 400px;
    height: auto;
    transition: 0.2s;
    fill: rgba(0, 204, 255, 0.619);
    filter: blur(2px);
    
  }
  
  @keyframes blob {
    0%{
      d: path("m1.65 1.36c2.83-3 7.47-.6 26 3 19.44 3.77 24.17 3.04 26 7 2.93 6.34-5.24 16.88-13 22-2.15 1.42-11.6 7.65-22 4-6.98-2.45-10.11-8.6-13-14C4.36 20.94-3.31 6.61 1.65 1.36Z");
    }

    25% {
      d: path("m1.65,12.02c2.83-3,21-2,38-10,17.91-8.43,19,12,15,17-4.37,5.46-6.24,19.88-14,25-2.15,1.42-8.6-.35-19-4-6.98-2.45-13.11-.6-16-6-1.29-2.42-8.96-16.75-4-22Z");
      fill: rgba(0, 255, 221, 0.619);

    }

    70% {
      d: path("m11.29,2.02c4.07.63,6,8,23,0,17.91-8.43,19,12,15,17-4.37,5.46-6.24,6.88-14,12-2.15,1.42-1.6,8.65-12,5-6.98-2.45-25.85,3.42-23-2C10.29,15.02-1.71.02,11.29,2.02Z");
      fill: rgba(0, 51, 255, 0.619);
    }

    86% {

      d: path("m16.14 5.49C24.9 3.97 25.85.66 32.53.08c6.12-.53 16.06 1.32 19.61 8.41 3.91 7.8-1.91 17.97-8 23-8.02 6.63-19.14 6.53-27 3C3.54 28.39-2.76 10.93 1.14 6.49c2.08-2.37 5.63.62 15-1Z");

    }

    100% {
      d: path("m1.65 1.36c2.83-3 7.47-.6 26 3 19.44 3.77 24.17 3.04 26 7 2.93 6.34-5.24 16.88-13 22-2.15 1.42-11.6 7.65-22 4-6.98-2.45-10.11-8.6-13-14C4.36 20.94-3.31 6.61 1.65 1.36Z");
    }
  }